.color-grey{ color:#F5F5F5 !important; }
.color-white{ color: white !important; }
.color-black{ color: black !important; }
.color-orange{ color: #FFB700 !important; }

.bg-color-grey{ background-color:#F5F5F5 !important; }